# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# idea
.idea/*

# direnv
.envrc
/pkg
.direnv/

# env
env.yaml
env-stg.yaml

# go
vendor/

# minio
data/

# hot deploy go server file
runner-build
runner-build-errors.log

